/A1_code_data/gov/
/A1_code_data/deleteMeBeforeSubmit_directory_structure.txt
/A1_code_data/deleteMeBeforeSubmit_ReadFilePath.py
/A1_code_data.zip
/Assignment1Specification_20240729release.pdf
/u7725171.docx
/~$725171.docx
/A1_code_data/stored_index.pkl